{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
     <link href='{% static  "contact/css/find_idpw.css" %}' rel="stylesheet">
    <title>ID/PW찾기</title>
</head>
<body>

  <div class="container">

      <div class="head"><h1>ID/PW찾기</h1> </div>

<div class ="main_container ">


<form action="" method="post">

        <table >
            <tbody>
            <tr>
                등록된 E-mail 주소를 입력하여 주세요
            <tr>

            <tr>
                <input  type="text" value="email">
            <tr>
            </tbody>
        </table>


 </form>
</div>
 <div class="head"></div>
<div class="last_container">

        <button >닫기</button>
        <button >보내기</button>
</div>
</body>


</html>