<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>
			Hello songlim
		</title>
	</head>

	<body>
		<header>
			<nav>네비아이콘
				<ul>
					<li>고객관리</li>
						<a>신규계약등록</a><img>+</img><p>
						<a>내거래처(계약)</a><img>+</img>
					<li>업무관리</li>
						<a>내거래처(관리)</a><img>+</img><p>
						<a>미수금확인</a><img>+</img><p>
						<a>업무등록</a><img>+</img><p>
						<a>할일관리</a><img>+</img><p>
						<a>업무일지</a><img>+</img><p>
					<li>신고관리</li>
						<a>원천세</a><img>+</img><p>
						<a>지급명세서</a><img>+</img><p>	
						<a>부가가치세</a><img>+</img><p>
						<a>개인/법인 소득세</a><img>+</img><p>
						<a>연말정산</a><img>+</img><p>
						<a>4대보험</a><img>+</img><p>
						<a>기타</a><img>+</img><p>
					<li>근태관리</li>
						<a>휴가관리</a><img>+</img><p>
						<a>급여/배당</a><img>+</img><p>
					<li>관리자메뉴</li>	



				</ul>
			</nav>	
		


		<a>로그인</a>
		<a>아이디 및 비밀번호찾기</a>
		<a>회원가입</a>
		<nav>네비아이콘2
			<ul>
				<a>바로가기1</a>
				<a>바로가기2</a>
				<a>바로가기3</a><p>
				......
				<a>바로가기+</a>
			</ul>	
		</nav>
		<nav>사용자이름
			<ul>
				<li>아이디</li>
				<li>이메일</li>
				<li>직급</li>
				<li>이름</li>
			</ul>	
			<a>누적계약+이미지</a>
			<a>담당업체</a>
			<a>잔여휴가</a>
			<p>
			<a>요약</a>
			<a>회원정보수정</a>
		</nav>	


		</header>

		<article>
			<h1>songlim tax corp.</h1>

		</article>	
		<table border="1" style="border-collapse:collapse;">공지사항
			<a>더보기</a>
			<tr>	
				<th>일시</th>
				<th>내용</th>
			</tr>	
			<tr>
				<td>date</td>
				<td>내용</td>
			</tr>	

		</table>	

		<table border="1" style="border-collapse:collapse;">세금신고일정
			<a>더보기</a>
			<tr>
				<th>일시</th>
				<th>내용</th>
				<th>기한</th>
			</tr>
			<tr>
				<td>date</td>
				<td>내용</td>
				<td>기한</td>
			</tr>
			

		</table>	
	</body>
</html>	
