{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>


    <meta charset="UTF-8">

    <link href='{% static  "contact/css/login.css"%}' rel="stylesheet" >

    <title>로그인</title>

</head>

<body>


<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="#">
			<h5>직원의 행복과 함께하는 세무법인 송림</h5>

			<span>직원 정보를 입력해 주세요</span>


			<input type="text" placeholder="ID" />
			<input type="password" placeholder="Password" />


			<table style="width : 100%;">
				<tbody>
					<tr>
						<th style="text-align : left;"><a href="#">ID/PW 찾기</a></th>
						<th style="text-align : right;"><a href="{% url 'register1' %}">회원가입</a></th>
					</tr>
				</tbody>
			</table>



			<button>로그인</button>
		</form>
	</div>


	<div class="form-container sign-up-container">
		<form action="#">
			<h5>사업 파트너 세무법인 송림</h5>

			<span>고객 정보를 입력해 주세요</span>


			<input type="text" placeholder="ID" />
			<input type="password" placeholder="Password" />


			<table style="width : 100%;">
				<tbody>
					<tr>
						<th style="text-align : left;"><a href="#">ID/PW 찾기</a></th>
						<th style="text-align : right;"><a href="{% url 'register1' %}">회원가입</a></th>
					</tr>
				</tbody>
			</table>


			<button>로그인</button>
		</form>
	</div>


	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
	                	<h1>SONGLIM <h3>TAX Corp.</h3></h1>
				<button class="ghost" id="signUp">고객용</button>
			</div>
			<div class="overlay-panel overlay-left">
				<h1>SONGLIM <h3>TAX Corp.</h3></h1>

				<button class="ghost" id="signIn">직원용</button>
			</div>
		</div>
	</div>

</div>





<script src='{% static "contact/js/login.js"  %}'></script>
</body>

</html>
