<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">

  <title>로그인</title>

</head>

<body>
  <div>

      <div>
          <h1>Welcome Back!</h1>
      </div>
            <input  type="text" value="id">
            <br>
            <input  type="text" value="pw">
            <br>
                    <input type="checkbox" name="로그인유지" value="로그인유지">로그인유지
                  <form action="" method="post">
                  <input  type="submit" value="로그인">
                  </form>
            <br>
                  <div>
                    <a  href="">ID/PW 찾기</a> I <a  href="">회원가입</a>
                  </div>

  </div>

</body>

</html>
