<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입 step 2.</title>
</head>
<body>
<div>
    <div>
    <h1>SONGLIM  TAX Corp.    </h1>
    </div>

<form action="" method="post">
    <div>
        <table style="width:800px">
            <thead><input type="button" name="회원가입정보수정" value="회원가입 정보 수정"></thead>
            <tbody>
            <tr>
                <th><input  type="text" value="id"></th>
                <th><input  type="text" value="이름"></th>
            <tr>

            <tr>
                <th><input  type="text" value="password"></th>
                <th><input  type="text" value="주민번호"></th>
            <tr>
            <tr>
                <th><input  type="text" value="password2"></th>
                <th><input  type="text" value="연락처"><input type="text" name="통신사" value="통신사"></th>
            <tr>
            <tr>
                <th><input  type="text" value="email"></th>
                <th><input  type="text" value="주소"><input type="button" value="주소검색"></th>
            <tr>

            <tr>
                <th><input  type="text" value="email"></th>
                <th><input  type="text" value="상세주소"></th>
            <tr>
            </tbody>
        </table>
        <p></p>

        <input type="submit" name="변경" value="변경">

    </div>
 </form>

</body>
</html>