{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
     <link href='{% static  "contact/css/register.css" %}' rel="stylesheet">
    <title>회원가입 step 2.</title>
</head>
<body>

    <div id="header">SONGLIM  TAX Corp.</div>





    <div id="content">
        <button2>1단계 정보동의</button2>
        <button1>2단계 정보입력</button1>
        <button2>3단계 승인요청</button2>
    </div>
<p></p>


<form action="" method="post">
    <div>
        <table style="width:800px">
            <tbody>
            <tr>
                <th><input  type="text" value="id"><input type="button" value="중복확인"></th>
                <th><input  type="text" value="이름"></th>
            <tr>

            <tr>
                <th><input  type="text" value="password"></th>
                <th><input  type="text" value="주민번호"></th>
            <tr>
            <tr>
                <th><input  type="text" value="password2"></th>
                <th><input  type="text" value="연락처"><input type="text" name="통신사" value="통신사"></th>
            <tr>
            <tr>
                <th><input  type="text" value="email"></th>
                <th><input  type="text" value="주소"><input type="button" value="주소검색"></th>
            <tr>

            <tr>
                <th><input  type="text" value="email"></th>
                <th><input  type="text" value="상세주소"></th>
            <tr>
            </tbody>
        </table>
        <p></p>
        <a href="{% url 'register1' %}">이전</a>
        <a href="{% url 'register3' %}">다음</a>

    </div>
 </form>

</body>
</html>