{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href='{% static  "contact/css/register.css" %}' rel="stylesheet">
    <title>회원가입 step 2.</title>
</head>
<body>
<div>
   <div id="header">SONGLIM  TAX Corp.</div>





    <div id="content">
        <button2>1단계 정보동의</button2>
        <button2>2단계 정보입력</button2>
        <button1>3단계 승인요청</button1>
    </div>
<p></p>
<form action="" method="post">
    <div>
        <table style="width:800px">
            <tbody>
            <tr>
                <th><input  type="button" value="회원가입정보"></th>
            </tr>
            <tr>
                <th><input  type="text" value="id"></th>
            </tr>
            <tr>
                <th><input  type="text" value="이름"></th>
            </tr>
            <tr>
                <th><input  type="text" value="E-mail"></th>
            </tr>

            <tr>
                <th>비밀번호 분실시 위 입력한 E-mail 주소로 임시번호 발송</th>
            <tr>
            </tbody>
        </table>
        <p></p>

        <a href="{% url 'register2' %}">이전</a>
        <a href="{% url 'login' %}">로그인하기</a>

    </div>
</form>
</body>
</html>