<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입 step 1.</title>
</head>
<body>
<div>
    <div>
    <h1>SONGLIM  TAX Corp.
        <button>1단계 정보동의</button>
        <button>2단계 정보입력</button>
        <button>3단계 승인요청</button>
    </h1>
    </div>
<form action="" method="post">
    <div>

        <table border="1" style="border-collapse:collapse; width:700px">
            <thead>정보이용동의</thead>
            <td>본인은 세무법인 송림의 “회원가입”과 관련하여, 아래와 같이 본인 개인정보의 수집･이용･제공에 동의합니다.<p></p>

            가. 동의를 거부할 권리와 거부에 따른 불이익<p></p>
            - 상기 본인은 상기 개인정보의 수집에 대하여 거부할 권리를 보유하고 있음을 인지하고 있음<p></p>
            ※거부에 따른 불이익 : 공모지원 관련 기본수집 정보 부족으로 인한 참여제한<p></p>

            </td>
        </table>
        <p></p>

        <input type="checkbox" name="동의" value="동의">동의
        <input type="checkbox" name="미동의" value="미동의">미동의

    </div>


    <div>
        <table border="1" style="border-collapse:collapse; width:700px">
            <thead>수집의 목적과 항목</thead>
            <td>
            가. 수집･이용･제공 목적<p></p>
            - 세무법인 송림의 “업무홈페이지” 사용을 위해 아래와 같이 최소 정보를 수집합니다.
            나. 수집･이용･제공하는 개인정보의 항목<p></p>
            - 신청인의 성명, 주소, 주민번호, 전화번호, 핸드폰번호, 이메일 주소<p></p>
            ※ 본인은 개인정보 처리에 관하여 고지 받았으며, 이를 충분히 이해하고 동의합니다.
            </td>
        </table>
        <p></p>

        <input type="checkbox" name="동의" value="동의">동의
        <input type="checkbox" name="미동의" value="미동의">미동의

    </div>


    <div>
        <table border="1" style="border-collapse:collapse; width:700px">
            <thead>자료보관</thead>
            <td>본인은 세무법인 송림의 “회원가입”과 관련하여, 아래와 같이 본인 개인정보의 수집･이용･제공에 동의합니다.<p></p>
            다. 개인정보의 보유 및 이용･제공기간<p></p>
            - 퇴사 후 10년<p></p>
            ※ 본인은 개인정보 처리에 관하여 고지 받았으며, 이를 충분히 이해하고 동의합니다.
            </td>
        </table>
        <p></p>

        <input type="checkbox" name="동의" value="동의">동의
        <input type="checkbox" name="미동의" value="미동의">미동의

    </div>
    <p></p>
    <p></p>
※ 본인은 개인정보 처리에 관하여 고지 받았으며, 이를 충분히 이해하고 동의합니다.<p></p>

<input type="submit" name="전체동의" value="전체동의">
<input type="submit" name="다음" value="다음">

</div>

</form>





</body>
</html>