<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">

  <title>ID/PW 찾기</title>

</head>

<body>


      <div>
          <h1>Welcome Back!</h1>
      </div>
<form action="" method="post">
      <table style="width:800px">

            <tbody>
                <tr>
                    <th><input  type="button" value="id"><input type="checkbox" name="아이디정보" value="아이디정보"></th>
                </tr>

                <tr>
                    <th><input  type="button" value="pw"><input type="checkbox" name="비밀번호정보" value="비밀번호정보"></th>
                </tr>
                <tr>
                    <th>회원가입시 등록한 E-mail로 정보 발송</th>
                </tr>
                <tr>
                    <th><input  type="submit" value="정보전송"></th>
                </tr>

            </tbody>


      </table>

 </form>

</body>

</html>
