{% load static %}

<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">

    <title>회원가입 step 1.</title>

    <link href='{% static  "contact/css/register.css" %}' rel="stylesheet">
</head>

<body>
  <div class="container">

      <div class="head"><h1>SONGLIM  TAX Corp.</h1> </div>





    <div class="button_position">
        <button>1단계 정보동의</button>
        <button>2단계 정보입력</button>
        <button>3단계 승인요청</button2>
    </div>

    <div class ="main_container ">
        본인은 세무법인 송림의 “회원가입”과 관련하여, 아래와 같이 본인 개인정보의 수집･이용･제공에 동의합니다.<p></p>

            가. 동의를 거부할 권리와 거부에 따른 불이익<p></p>
            - 상기 본인은 상기 개인정보의 수집에 대하여 거부할 권리를 보유하고 있음을 인지하고 있음<p></p>
            ※거부에 따른 불이익 : 공모지원 관련 기본수집 정보 부족으로 인한 참여제한<p></p>
            나. 수집･이용･제공 목적<p></p>
            - 세무법인 송림의 “업무홈페이지” 사용을 위해 아래와 같이 최소 정보를 수집합니다.<p></p>
            다. 수집･이용･제공하는 개인정보의 항목<p></p>
            - 신청인의 성명, 주소, 주민번호, 전화번호, 휴대폰번호, 이메일 주소<p></p>
            라. 본인은 세무법인 송림의 “회원가입”과 관련하여, 아래와 같이 본인 개인정보의 수집･이용･제공에 동의합니다.<p></p>
            마. 개인정보의 보유 및 이용･제공기간<p></p>
            - 퇴사 후 10년<p></p>
     </div>
      <div>
           ※ 본인은 개인정보 처리에 관하여 고지 받았으며, 이를 충분히 이해하고 동의합니다. <input type="radio" name="전체동의" value="전체동의">yes or no<p></p>
      </div>



    </div>




<a href="{% url 'register2' %}">다음</a>





<script src='{% static "contact/js/register.js"  %}'></script>
</body>
</html>