

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

#header{
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 50%;
  height: 50px;
  padding: 20px 50px;
  background-color: #eee;
  font-family: "Arial";
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.scroll{
  box-shadow: 0px 5px 30px 2px #333;
}

#content{
  margin-top: 100px;
  padding: 10px 20px;
  font-size: 5px;
}

#content p{
  text-align: justify;
  margin: 10px;
  font-family: Verdana;
  line-height: 25px;
}

button {
	border-radius: 20px;
	border: 1px solid #2E64FE;
	background-color: #2E64FE;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}